@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Bold.eot");
  src: local("Gotham Pro Bold"), local("GothamPro-Bold"),
    url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro.eot");
  src: local("Gotham Pro"), local("GothamPro"), url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-color: #ffffff;
  font-family: "Gotham Pro", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
}

.k-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 30px 0;
  &__logo {
    display: block;
    img,
    svg {
      display: block;
      max-width: 220px;
    }
    &-text {
      display: block;
      margin: 13px 0 0 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #2d2d2d;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #2d2d2d;
      text-decoration: none;
    }
  }
  &__column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    &_right {
      align-items: flex-end;
      padding-bottom: 15px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0;
    img,
    svg {
      display: inline-block;
      max-width: 25px;
      max-height: 25px;
      margin-right: 10px;
    }
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 17px;
    color: #0e72ba;
    cursor: pointer;
    text-decoration-line: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #0e72ba;
      text-decoration: none;
    }
  }
  &__button {
    display: inline-block;
    margin: 24px 0 0 0;
    padding: 16px 56px;
    background: #ddea37 url("../images/button_bg.png") no-repeat left -3px center;
    border-radius: 100px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    color: #2d2d2d;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #f0fb62 url("../images/button_bg.png") no-repeat left -3px center;
      color: #2d2d2d;
      text-decoration: none;
    }
  }
  &__phone {
    display: block;
    margin: 0 0 26px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 29px;
    color: #2d2d2d;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #0e72ba;
      text-decoration: none;
    }
  }
}

.k-top {
  display: block;
  position: relative;
  padding: 5px 0 0 0;
  background: url("../images/top_bg.png") no-repeat right calc((100vw - 1200px) / 2 - 20px) top;
  &__title {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 89px;
    text-transform: uppercase;
    color: #0e72ba;
  }
  &__row {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin: 5px 0 0 0;
    padding: 8px 16px;
    background: #0e72ba;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    b,
    strong {
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 29px;
      color: #ffffff;
    }
  }
  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 200px 0 0 -140px;
    width: 142px;
    height: 142px;
    padding-top: 45px;
    border-radius: 999rem;
    background: #ddea37;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #2d2d2d;
    z-index: 4;
  }
  &__zoom {
    display: block;
    position: absolute;
    top: 120px;
    width: 354px;
    height: 354px;
    border-radius: 999rem;
    background: rgba(14, 114, 186, 0.1);
    backdrop-filter: blur(25px);
  }
  &-form {
    display: block;
    position: relative;
    margin: 15px 0 0 0;
    padding: 40px 50px;
    background: #2d2d2d;
    border-radius: 30px;
    z-index: 4;
    &__title {
      display: block;
      margin: 0 0 12px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: #ffffff;
    }
    &__subtitle {
      display: block;
      margin: 0 0 14px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 17px;
      color: #ddea37;
    }
    &__info {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #ffffff;
      opacity: 0.5;
    }
    &__button {
      display: block;
      position: relative;
      width: 100%;
      margin: 0;
      padding: 36px 20px;
      border: 0;
      outline: none;
      background: #f0fb62;
      border-radius: 100px;
      box-shadow: 5px 5px 0 0 #ddea37;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      color: #2d2d2d;
      div {
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        div {
          transform: translate(3px, 3px);
        }
        box-shadow: 5px 5px 0 0 #f0fb62;
        background: #f0fb62;
        color: #2d2d2d;
        text-decoration: none;
      }
    }
    input {
      display: block;
      position: relative;
      width: 100%;
      margin: 20px 0;
      padding: 16px 30px;
      border: 0;
      outline: none;
      background: #ffffff;
      border-radius: 100px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 17px;
      color: #2d2d2d;
    }
  }
}

.k-features {
  display: block;
  position: relative;
  width: 100%;
  margin: -40px 0 0 0;
  padding: 140px 0 100px 0;
  background: #0e72ba;
  &__title {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
  }
  &__subtitle {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 29px;
    color: #ddea37;
    b,
    strong {
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 48px;
      color: #ddea37;
    }
  }
  &__text {
    display: block;
    margin: 34px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    color: #ffffff;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin: 80px 0 0 0;
    img,
    svg {
      display: block;
      max-height: 140px;
    }
    &__title {
      display: block;
      margin: 25px 0 20px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 26px;
      color: #ffffff;
    }
    &__text {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: #ffffff;
    }
  }
}

.k-need {
  display: block;
  position: relative;
  width: 100%;
  padding: 70px 0 50px 0;
  &__title {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #2d2d2d;
  }
  &__text {
    display: block;
    margin: 17px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #2d2d2d;
  }
  &-block {
    display: block;
    position: relative;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 67px 50px;
    background: #ebf0f3;
    border-radius: 30px;
    img,
    svg {
      display: block;
      max-width: 80px;
      margin: 0 auto;
    }
    &__text {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 28px;
      color: #2d2d2d;
    }
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin: 70px 0 0 0;
    &__image {
      display: block;
      width: 124px;
      height: 124px;
      border-radius: 999rem;
      background-position: center center;
      background-size: cover;
    }
    &__zoom {
      display: block;
      position: absolute;
      width: 124px;
      height: 124px;
      top: 0;
      left: 60px;
      border-radius: 999rem;
      background: rgba(14, 114, 186, 0.1);
      backdrop-filter: blur(10px);
      z-index: 3;
      transition: all 0.2s ease-out;
    }
    &__title {
      display: block;
      margin: 10px 0 0 0;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 26px;
      color: #2d2d2d;
    }
    &__text {
      display: block;
      margin: 12px 0 0 0;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: #2d2d2d;
    }
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .k-need-card__zoom {
        left: 25px;
      }
      text-decoration: none;
    }
  }
}

.k-cards {
  display: block;
  position: relative;
  padding: 100px 0 80px 0;
  background: #2d2d2d;
  &__title {
    display: block;
    margin: 0 0 35px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #ddea37;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin: -1px 0 0 0;
    padding: 50px 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      width: 100%;
      height: 100%;
    }
    &__title {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      text-transform: uppercase;
      color: #ddea37;
    }
    &__what {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 30px;
      color: #ffffff;
    }
    &__subtitle {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #ffffff;
    }
    &__text {
      display: block;
      max-width: 300px;
      margin: 20px 0 40px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #ffffff;
    }
    &__price {
      display: block;
      margin: 8px 0 0 0;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 19px;
      color: #ffffff;
    }
    &__info {
      display: block;
      margin: 0 0 40px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: #ffffff;
    }
    &__link {
      display: block;
      position: relative;
      width: 100%;
      padding: 19px 20px 19px 60px;
      background: #414141 url("../images/icon_yt.svg") no-repeat left 30px center;
      border-radius: 100px;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      text-align: center;
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        box-shadow: none;
        background: #ddea37 url("../images/icon_yt_orogonal_full.svg") no-repeat left 30px center;
        color: #2d2d2d;
        text-decoration: none;
      }
    }
    &__button {
      display: block;
      position: relative;
      width: 100%;
      margin: 0;
      padding: 9px;
      border: 0;
      outline: none;
      background: #1d89d7;
      border-radius: 100px;
      box-shadow: 5px 5px 0 0 #0e72ba;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      text-align: center;
      color: #ffffff;
      div {
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        div {
          transform: translate(2px, 2px);
        }
        box-shadow: 5px 5px 0 0 #1d89d7;
        background: #1d89d7;
        color: #ffffff;
        text-decoration: none;
      }
    }
    ul {
      display: block;
      position: relative;
      margin: 0 0 40px 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        position: relative;
        margin: 0 0 12px 0;
        padding-left: 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        color: #ffffff;
        &:before {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          content: "—";
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 19px;
          color: #0e72ba;
        }
      }
    }
  }
  &-form {
    display: block;
    position: relative;
    max-width: 550px;
    padding: 70px 0 0 0;
    &__title {
      display: block;
      margin: 0 0 30px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: #ffffff;
    }
    &__info {
      display: block;
      margin: 30px 0 0 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #ffffff;
      opacity: 0.5;
    }
    &__button {
      display: block;
      position: relative;
      width: 100%;
      max-width: 400px;
      margin: 0;
      padding: 20px;
      border: 0;
      outline: none;
      background: #f0fb62;
      border-radius: 100px;
      box-shadow: 5px 5px 0 0 #ddea37;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #2d2d2d;
      div {
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        div {
          transform: translate(3px, 3px);
        }
        box-shadow: 5px 5px 0 0 #f0fb62;
        background: #f0fb62;
        color: #2d2d2d;
        text-decoration: none;
      }
    }
    input {
      display: block;
      position: relative;
      width: 100%;
      max-width: 400px;
      margin: 0 0 20px 0;
      padding: 16px 30px;
      border: 0;
      outline: none;
      background: #ffffff;
      border-radius: 100px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 17px;
      color: #2d2d2d;
    }
  }
  &-block {
    display: block;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin-top: 70px;
    padding: 45px 90px;
    background: #414141;
    border-radius: 30px;
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 199px;
      height: 122px;
      right: 100%;
      top: 50%;
      background: url("../images/cards_block_before.svg") no-repeat right center;
      background-size: contain;
      transform: translateY(-50%);
      pointer-events: none;
    }
    &__title {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: #ddea37;
    }
    &-card {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      margin: 30px 0 0 0;
      &__image {
        display: flex;
        align-items: center;
        width: 45px;
        height: 27px;
        img,
        svg {
          display: block;
          max-width: 100%;
          max-height: 100%;
        }
      }
      &__title {
        display: block;
        margin: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 19px;
        color: #ffffff;
      }
    }
  }
}

.k-steps {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 120px 0;
  &__title {
    display: block;
    position: relative;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #2d2d2d;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    &__title {
      display: block;
      position: relative;
      margin: 0 0 15px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: #2d2d2d;
    }
    &__text {
      display: block;
      height: 192px;
      overflow: hidden;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: #2d2d2d;
    }
  }
  &-image {
    display: block;
    position: relative;
    width: 100%;
    max-width: 494px;
    height: 494px;
    border-radius: 999rem;
    background-size: cover;
    background-position: center center;
  }
  &__wrap {
    position: relative;
    max-width: 494px;
    margin: 0 auto;
  }
  &__bg {
    display: block;
    position: absolute;
    left: -42px;
    top: -58px;
    width: 635px;
    height: 635px;
    background: url("../images/steps_bg.svg") no-repeat 0 0;
    pointer-events: none;
  }
  #progress {
    position: absolute;
    left: -46px;
    top: -46px;
    width: 584px;
    height: 584px;
    transform: rotate(-180deg);
    z-index: 0;
    pointer-events: none;
  }
  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 999rem;
    background-color: #ebf0f3;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    color: #2d2d2d;
    text-align: center;
    z-index: 4;
    transition: all 0.5s ease-out;
    &_active {
      background: #0e72ba !important;
      color: #ffffff !important;
    }
    &_1 {
      top: 50%;
      left: -60px;
      transform: translateY(-50%);
    }
    &_2 {
      left: 50%;
      top: -60px;
      transform: translateX(-50%);
    }
    &_3 {
      top: 50%;
      right: -60px;
      transform: translateY(-50%);
    }
    &_4 {
      left: 50%;
      bottom: -60px;
      transform: translateX(-50%);
    }
  }
  .gallery-top {
    position: relative;
    width: 100%;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    padding: 35px 0;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 48px;
    color: rgba(14, 114, 186, 0.5);
  }
  .swiper-pagination-current {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 48px;
    color: #0e72ba;
    &:before {
      content: "0";
    }
  }
  .swiper-pagination-total {
    &:before {
      content: "0";
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-block;
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    width: auto;
    height: auto;
    margin: 70px 10px 0 0;
    padding: 10px 14px;
    background: #ddea37;
    border-radius: 100px;
    img,
    svg {
      display: block;
      max-width: 50px;
      max-height: 20px;
      transition: all 0.2s ease-out;
    }
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #f0fb62;
      text-decoration: none;
    }
  }
}

.k-about {
  display: block;
  position: relative;
  width: 100%;
  padding: 65px 0 50px 0;
  border-radius: 30px;
  background: #ebf0f3 url("../images/about_bg.jpg") no-repeat left top;
  background-size: cover;
  &__title {
    display: block;
    margin: 0 0 17px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #0e72ba;
  }
  &__text {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #2d2d2d;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 90px;
    margin: 40px 40px 0 0;
    background: #cfdce3;
    box-shadow: 5px 5px 0 0 #cfdce3;
    border-radius: 5px;
    background-size: cover;
    background-position: center center;
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 127px;
      border-radius: 5px;
      background: linear-gradient(0deg, rgba(14, 114, 186, 0.8), rgba(14, 114, 186, 0.8));
      opacity: 0;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 1;
        text-decoration: none;
      }
    }
  }
}

.k-doctors {
  display: block;
  position: relative;
  width: 100%;
  padding: 95px 0 0 0;
  &__title {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #2d2d2d;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    width: 100%;
    padding-bottom: 40px;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: flex;
    align-items: stretch;
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
    background: #ddea37;
    border-radius: 30px;
    &__content {
      flex: 1 1 auto;
      position: relative;
      min-height: 375px;
      padding: 33px 40px 20px 33px;
      &:before {
        display: block;
        position: absolute;
        content: "";
        width: 70px;
        height: 115px;
        left: 100%;
        top: 50%;
        margin-left: -1px;
        background: url("../images/doctors_after.svg") no-repeat left center;
        background-size: contain;
        transform: translateY(-50%);
        pointer-events: none;
      }
    }
    &__image {
      flex: 1 0 200px;
      height: 100%;
      min-height: 375px;
      border-radius: 0 30px 30px 0;
      background-size: cover;
      background-position: center center;
    }
    &__title {
      display: block;
      margin: 0 0 12px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      color: #2d2d2d;
    }
    &__text {
      display: block;
      margin: 0 0 24px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #2d2d2d;
      b,
      strong {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 19px;
        color: #2d2d2d;
      }
    }
    ul {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        position: relative;
        margin: 0 0 12px 0;
        padding-left: 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        color: #2d2d2d;
        &:before {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          content: "—";
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 19px;
          color: #0e72ba;
        }
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-block;
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    width: auto;
    height: auto;
    margin: 0 0 0 10px;
    padding: 10px 14px;
    background: #ddea37;
    border-radius: 100px;
    img,
    svg {
      display: block;
      max-width: 50px;
      max-height: 20px;
      transition: all 0.2s ease-out;
    }
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #f0fb62;
      text-decoration: none;
    }
  }
}

.k-items {
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 0;
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      width: 100%;
      padding: 60px 0;
    }
    &__title {
      display: block;
      margin: 0 0 12px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 48px;
      color: #2d2d2d;
    }
    &__subtitle {
      display: block;
      margin: 0 0 23px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: #0e72ba;
    }
    &__text {
      display: block;
      height: 240px;
      overflow: hidden;
      margin: 0 0 30px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: #2d2d2d;
    }
    &__image {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      max-width: 500px;
      height: 550px;
      background: url("../images/items_bg.png") no-repeat left center;
      background-size: contain;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-block;
    position: absolute;
    top: auto;
    left: auto;
    bottom: 30px;
    right: auto;
    width: auto;
    height: auto;
    margin: 0 0 0 10px;
    padding: 10px 14px;
    background: #ddea37;
    border-radius: 100px;
    img,
    svg {
      display: block;
      max-width: 50px;
      max-height: 20px;
      transition: all 0.2s ease-out;
    }
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #f0fb62;
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    right: 500px;
  }
  .swiper-button-next {
    right: 400px;
  }
}

.k-reviews {
  display: block;
  position: relative;
  width: 100%;
  padding: 95px 0 80px 0;
  background: #0e72ba;
  &__title {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    width: 100%;
    padding-bottom: 40px;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 80px;
    border-bottom: 1px solid #ffffff;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-block;
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    width: auto;
    height: auto;
    margin: 0 0 0 10px;
    padding: 10px 14px;
    background: #ddea37;
    border-radius: 100px;
    img,
    svg {
      display: block;
      max-width: 50px;
      max-height: 20px;
      transition: all 0.2s ease-out;
    }
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #f0fb62;
      text-decoration: none;
    }
  }
  .k-reviews-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
    padding: 50px;
    background: #ffffff;
    border-radius: 30px;
    img,
    svg {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
    &__image {
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 999rem;
      background-size: cover;
      background-position: center center;
    }
    &__name {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 30px;
      color: #2d2d2d;
    }
    &__date {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #2d2d2d;
    }
    &__text {
      display: block;
      height: 247px;
      overflow: hidden;
      margin: 28px 0 0 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #2d2d2d;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  &__subtitle {
    display: block;
    margin: 0 0 17px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
  }
  &__text {
    display: block;
    margin: 0 0 33px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #ddea37;
  }
  &-block {
    display: block;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin-top: 70px;
    padding: 45px 90px;
    background: #1d89d7;
    border-radius: 30px;
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 199px;
      height: 122px;
      right: 100%;
      top: 50%;
      background: url("../images/reviews_block_before.svg") no-repeat right center;
      background-size: contain;
      transform: translateY(-50%);
      pointer-events: none;
    }
    &__title {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: #ffffff;
    }
    &-card {
      display: flex;
      align-items: flex-start;
      position: relative;
      width: 100%;
      margin: 35px 0 0 0;
      &__image {
        display: flex;
        align-items: center;
        width: 45px;
        height: 27px;
        margin-top: -4px;
        img,
        svg {
          display: block;
          max-width: 100%;
          max-height: 100%;
        }
      }
      &__title {
        display: block;
        margin: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 19px;
        color: #ffffff;
        b,
        strong {
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 1;
          color: #ffffff;
        }
        a {
          color: #ddea37;
          cursor: pointer;
          text-decoration-line: underline;
          transition: all 0.2s ease-out;
          &:hover {
            color: #ddea37;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.k-qa {
  display: block;
  position: relative;
  width: 100%;
  margin: 70px 0 0 0;
  padding: 70px 0 0 0;
  border-top: 1px solid #ffffff;
  &__title {
    display: block;
    margin: 0 0 17px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 10px 0;
    background: #ffffff url("../images/icon_plus.svg") no-repeat left 25px top 20px;
    border-radius: 30px;
    transition: all 0.2s ease-out;
    &__header {
      display: block;
      position: relative;
      width: 100%;
      padding: 25px 20px 25px 100px;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: #2d2d2d;
      z-index: 2;
      cursor: pointer;
      text-decoration-line: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #0e72ba;
        text-decoration: none;
      }
    }
    &__content {
      display: none;
      position: relative;
      margin-top: -22px;
      margin-left: 44px;
      padding: 25px 100px 0 56px;
      border-left: 2px solid #ddea37;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: #2d2d2d;
      b,
      strong {
        font-weight: 700;
      }
    }
    &_active {
      padding-bottom: 55px;
      background: #ffffff url("../images/icon_minus.svg") no-repeat left 25px top 20px !important;
      /* &:before {
        display: block;
        position: relative;
        content: "";
        top: 58px;
        left: 7px;
        width: 2px;
        height: calc(100% - 113px);
        background: #ddea37;
      } */
    }
  }
}

.k-footer {
  display: block;
  position: relative;
  padding: 80px 0;
  background: #2d2d2d;
  &__info {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    b,
    strong {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
    }
  }
  &__title {
    display: block;
    margin: 0 0 48px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 1.2;
    color: #414141;
  }
  &__phone {
    display: block;
    margin: 0 0 24px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: #ffffff;
    cursor: pointer;
    text-decoration-line: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #0e72ba;
      text-decoration: none;
    }
  }
  &__link {
    display: block;
    margin: 0 0 26px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 17px;
    color: #ddea37;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #0e72ba;
      text-decoration: none;
    }
  }
  &__creators {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 17px;
    color: #ffffff;
    img,
    svg {
      display: block;
      margin: 0 10px;
    }
    a {
      color: #ffffff;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #0e72ba;
        text-decoration: none;
      }
    }
  }
}

.k-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 30px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 680px;
    margin: 30px 0;
    padding: 100px 130px;
    background: #2d2d2d;
  }
  &__title {
    display: block;
    margin: 0 0 24px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
  }
  input {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 16px 30px;
    border: 0;
    outline: none;
    background: #ffffff;
    border-radius: 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 17px;
    color: #2d2d2d;
  }
  &__button {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 19px 20px;
    border: 0;
    outline: none;
    background: #f0fb62;
    border-radius: 100px;
    box-shadow: 5px 5px 0 0 #ddea37;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #2d2d2d;
    div {
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      div {
        transform: translate(3px, 3px);
      }
      box-shadow: 5px 5px 0 0 #f0fb62;
      background: #f0fb62;
      color: #2d2d2d;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    margin: 30px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    opacity: 0.5;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .k-top {
    width: 100%;
    overflow: hidden;
    background: transparent;
  }
  .k-top__title {
    line-height: 1.2;
    font-size: 44px;
  }
  .k-top__zoom {
    display: none !important;
  }
  .k-features__title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 1.2;
    br {
      display: none;
    }
  }
  .k-qa-card__header {
    font-size: 18px;
  }
  .k-header {
    padding: 10px 0;
  }
  .k-header {
    justify-content: space-around;
  }
  .k-header__logo-text {
    display: none;
  }
  .k-header__link {
    margin: 20px 0;
  }
  .k-header__button {
    margin: 0;
  }
  .k-header__phone {
    margin: 20px 0;
  }
  .k-header__column_right {
    align-items: center;
  }
  .k-header__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .k-modal__content {
    padding: 60px 20px 20px 20px;
  }
  .k-modal__title {
    font-size: 32px;
    line-height: 1.2;
  }
  .k-top__row b,
  .k-top__row strong {
    font-size: 20px;
    line-height: 1.2;
  }
  .k-top-form {
    padding: 30px 20px;
  }
  .k-top-form__button {
    padding: 12px 6px;
  }
  .k-features {
    padding: 80px 0 40px 0;
  }
  .k-features__text {
    margin-top: 20px;
  }
  .k-features-card {
    margin: 30px 0 0 0;
  }
  .k-need {
    padding: 40px 0;
  }
  .k-need__title {
    font-size: 28px;
    line-height: 1.2;
    br {
      display: none;
    }
  }
  .k-need-block {
    margin-top: 20px;
    padding: 30px 20px;
    text-align: center;
    br {
      display: none;
    }
  }
  .k-need-card {
    margin-top: 30px;
  }
  .k-cards {
    padding: 40px 0;
  }
  .k-cards__title {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 1.2;
    br {
      display: none;
    }
  }
  .k-cards-card {
    padding: 20px 0;
  }
  .k-cards-card ul {
    margin: 20px 0;
  }
  .k-cards-form {
    padding: 20px 0;
  }
  .k-cards-block {
    margin: 0;
    padding: 30px 20px;
    &:before {
      display: none;
    }
  }
  .k-cards-block-card__image {
    flex: 0 0 45px;
  }
  .k-steps {
    padding: 40px 0;
  }
  .k-steps__title {
    font-size: 32px;
    line-height: 1.2;
    br {
      display: none;
    }
  }
  .k-steps .swiper-container-horizontal > .swiper-pagination-bullets,
  .k-steps .swiper-pagination-custom,
  .k-steps .swiper-pagination-fraction {
    padding: 20px 0;
  }
  .k-steps-card__text {
    height: 312px;
  }
  .k-steps .swiper-button-next,
  .k-steps .swiper-button-prev {
    margin: 10px 10px 10px 0;
  }
  .k-steps-image {
    max-width: 290px;
    height: 290px;
  }
  .k-steps__number_1 {
    left: 0;
  }
  .k-steps__number_2 {
    top: 0;
  }
  .k-steps__number_3 {
    right: 0;
  }
  .k-steps__number_4 {
    bottom: 0;
  }
  .k-steps__bg {
    display: none;
  }
  .k-steps #progress {
    left: -5px;
    top: -5px;
    width: 300px;
    height: 300px;
  }
  .k-about {
    padding: 30px 10px;
    background: #ebf0f3;
  }
  .k-about__cards {
    width: 100%;
  }
  .k-about-card {
    margin: 10px 10px 0 0;
  }
  .k-doctors {
    padding: 40px 0;
  }
  .k-doctors .swiper-button-next,
  .k-doctors .swiper-button-prev {
    margin: 20px 20px 0 0;
  }
  .k-doctors-card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }
  .k-doctors-card__image {
    border-radius: 0 0 30px 30px;
    background-position: center top;
  }
  .k-items {
    padding: 10px 0 40px 0;
  }
  .k-items-card__image {
    height: 350px;
  }
  .k-items-card__content {
    padding: 20px 0;
  }
  .k-reviews {
    padding: 40px 0;
  }
  .k-reviews__title {
    font-size: 32px;
    line-height: 1.2;
    br {
      display: none;
    }
  }
  .k-reviews .swiper-button-next,
  .k-reviews .swiper-button-prev {
    margin: 20px 20px 0 0;
  }
  .k-reviews .k-reviews-card {
    padding: 20px 15px;
  }
  .k-reviews .k-reviews-card__text {
    margin-top: 15px;
  }
  .k-reviews .k-reviews-card__image {
    width: 46px;
    height: 46px;
  }
  .k-reviews__cards {
    padding-bottom: 30px;
  }
  .k-reviews-block {
    margin-top: 20px;
    padding: 20px;
    &:before {
      display: none;
    }
  }
  .k-qa {
    margin-top: 20px;
    padding-top: 20px;
  }
  .k-qa__title {
    font-size: 28px;
    line-height: 1.2;
    br {
      display: none;
    }
  }
  .k-qa-card {
    border-radius: 10px;
    background: #ffffff url(../images/icon_plus.svg) no-repeat left 10px top 10px;
  }
  .k-qa-card_active {
    padding-bottom: 20px;
    background: #ffffff url(../images/icon_minus.svg) no-repeat left 10px top 10px !important;
  }
  .k-qa-card__header {
    padding: 10px 20px 10px 60px;
    line-height: 1.2;
  }
  .k-qa-card__content {
    margin-top: -14px;
    margin-left: 28px;
    padding: 25px 20px 0 30px;
    font-size: 16px;
    line-height: 1.5;
  }
  .k-footer {
    padding: 40px 0;
  }
  .k-footer__title {
    margin: 20px 0;
  }
  .k-footer__phone {
    font-size: 28px;
  }
  .k-steps__wrap {
    max-width: 290px;
    margin: 0 auto;
  }
  .k-items .swiper-button-next,
  .k-items .swiper-button-prev {
    position: relative;
    right: auto;
    bottom: auto;
    top: auto;
    margin: 0 10px 0 0;
  }
  .k-top__info {
    position: relative !important;
    margin: 20px 0 10px 0 !important;
  }
}
